nav{
    width: 100%;
    height: 55px;
    background-color: grey;
}
body{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.container:before, .container:after, div.row.right:before, div.row.right:after, div.row.left:before, div.row.left:after{
    content: " ";
    display: table;
}
.container:after{
    clear: both;
}
.container{
    width: 75%;
    
    margin: 0 auto;
    padding-top: 5px;
}
.col{
    
    text-align: center;
    float: left;
    font-weight: bold;
    margin: 10px;
}
.col1{
    width: 70px;
}
.col2{
    width: 300px;
}
.ico{
    width: 20px;
    height: 20px;
}
.box{
    border-color: grey;
    border-style: solid;
    border-width: 1.5px;
    width: 250px;  
    padding: 10px; 
    margin : 20px; 
}

.btn{
    border-radius: 5px;
    border-spacing: 5px;
    height: 30px;
    background-color: green;
    padding: 5px;
    margin: 5px;
    float: right;
}

.thumbnails,img{
    max-height: 200px;
    max-width: 200px;
}

.price{
    font-weight: bold;
    font-size: 16px;
}